@model EmpleosApp.ViewModels.IndexViewModel




	<main role="main">

	  <!-- Main jumbotron for a primary marketing message or call to action -->
	  @if(TempData["SuccessMessage"] != null)
			{
				<div class="alert alert-success">
					@TempData["SuccessMessage"]
				</div>
			}
	  <div class="jumbotron" id="jumbotron">
		<div class="container">
		  <h2 class="text-white" id="TitleId"><em>Encuentra el trabajo que andas buscando.</em></h2>
		  
		  
		</div>
	  </div>
	  <hr>

	  <div class="container"> 
		<h2 class="font-weight-bold text-center text-capitalize">Ofertas de Empleo Destacadas</h2>
		<hr>
		@foreach(var c in Model.Vacantes){
		<div class="row mt-2">
			
		  <div class="col-md-3">
			  @if(c.Destacado==1){
				<span class="badge badge-danger ml-2">Destacado</span>
				
			}
			<img class="rounded mx-auto d-block " src="/images/@c.Imagen" alt="Generic placeholder image" width="220" height="180">            
		  </div>
		  <div class="col-md-9">
			<h2>@c.Nombre</h2>
			<h6 class="card-title"><strong>Categoría: </strong> <span>@c.Categorias.Nombre</span></h6>
			<h6 class="card-title"><strong>Publicado: </strong> <span>@c.Fecha.ToString("d")</span></h6>                
			<p>@c.Descripcion</p>
			<p><a class="px-4 btn text-white underline font-weight-bold btn btn-info" href="/vacantes/verDetalle?id=@c.Id" role="button">Ver detalles &raquo;</a></p>            
		  </div>
		</div>
		}
		  <hr>	
	  </div> <!-- /container -->
	  <br />
	  <div class="container">
		  @{Html.RenderPartial("_paginador", Model);}
	  </div>
		
		
	</main>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

